<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
    <script defer src="{{ url_for('static', filename='assets/js/imgs.js')}}"></script>
    <script defer src="{{ url_for('static', filename='assets/js/interacoes.js')}}"></script>
    <script defer src="{{ url_for('static', filename='assets/js/validacao.js')}}"></script>
    <script defer src="{{ url_for('static', filename='assets/js/script.js')}}"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/general.css')}}">
    <title>Consorcio Tradição</title>
</head>

<body>
    <header>
        <a href="index.html">
            <img src="{{ url_for('static', filename='assets/img/logo.png')}}" alt="Logo" class="logo">
        </a>
    </header>
    <div class="container">
        <div class="optioinputValuen">
            <p>Escolha uma opção:</p>
            <div class="options-2">
                <input type="radio" name="option" id="facial-option" onclick="toggleSection('facial-section')" checked>
                <label for="facial-option">Facial</label>

                <input type="radio" name="option" id="document-option" onclick="toggleSection('document-section')">
                <label for="document-option">Documentos</label>
            </div>

        </div>

        <div class="data-insert " id="facial-section">
            <!-- Adicione um popup de corte de imagem específico para seção facial -->
            <div id="facial-crop-popup" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal('facial-crop-popup')">&times;</span>
                    <img id="facial-original-image" alt="Original Image">
                    <img class="photo-croped" id="facial-cropped-image-popup" alt="Cropped Image">
                </div>
            </div>

            <form id="facial-form">
                <h1>Verificação Facial </h1>
                <label for="contract-number">Número do Contrato:</label>
                <input class="form-control" aria-describedby="inputGroup-sizing-default" type="number"
                    id="contract-number" name="contractNumber" required>

                <div class="mb-3">
                    <label for="formFile" for="facial-photo" class="form-label">Carregar foto de rosto:</label>

                </div>
                <div class="container-image-profile">
                    <div class="image-container">
                        <p class="upload-text">Insira a sua imagem</p>
                        <input type="file" id="file-input-1" class="file-input" accept="image/*">
                        <img id="uploaded-image-1" src="" class="uploaded-image" alt="Imagem carregada">
                    </div>
                </div>



                <div class="button">
                    <button type="button" id="button-enviar" class="btn btn-primary"
                        onclick="submitForm('document-form', this)">Enviar</button>

                </div>
            </form>
        </div>

        <div id="document-section" class=" data-insert  hidden">
            <!-- Adicione um popup de corte de imagem específico para seção de documentos -->


            <form id="document-form">
                <h1>Verificar Documentos</h1>

                <label for="contract-number-doc">Número do Contrato:</label>
                <input class="form-control" type="number" id="contract-number-doc" name="contractNumber">


                <div class="container-image-doc">
                    <div class="image-container">
                        <p class="upload-text">Foto de perfil</p>
                        <input type="file" id="file-input-2" class="file-input" accept="image/*">
                        <img id="uploaded-image-2" src="" class="uploaded-image" alt="Imagem carregada">
                    </div>

                    <div class="image-container">
                        <p class="upload-text">Documento Frente</p>
                        <input type="file" id="file-input-3" class="file-input" accept="image/*">
                        <img id="uploaded-image-3" src="" class="uploaded-image" alt="Imagem carregada">
                    </div>

                    <div class="image-container">
                        <p class="upload-text">Documento Verso</p>
                        <input type="file" id="file-input-4" class="file-input" accept="image/*">
                        <img id="uploaded-image-4" class="uploaded-image" src="#" alt="Imagem carregada">
                    </div>
                </div>
                <div class="button">
                    <button type="button" id="button-enviar" class="btn btn-primary"
                        onclick="submitForm('document-form', this)">Enviar Documentos</button>

                </div>
            </form>
        </div>

    </div>

    <div id="loading-overlay" class="hidden">
        <div class="loading-spinner"></div>
    </div>


</body>

</html>